/* .post{
 display:flex;
 width: 500px;
 height: 200px;
} */
body{
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgb(6, 4, 34), rgb(46, 96, 160));
}
.cardclass{
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 20px;
  padding: 10px;
  margin-left: 50px;
}